// viewports
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;

$basic-green: #68b738;
$basic-green-2: #5eaa2f;
$basic-grey: #f2f2f2;
$basic-grey-2: #ebebeb;
$special-grey: #cdcdcd;
$special-grey-2: #666666;
$special-dark-grey: #444444;
$special-dark-grey-2: #222222;

$black: #000000;
$white: #ffffff;

$Oswald: "Oswald", sans-serif;
$Arial: "Arial", Helvetica, sans-serif;
