@import "variables";

*,
*::after,
*::before {
   box-sizing: inherit;
   margin: 0;
   padding: 0;
}
img {
   width: 100%;
   height: 100%;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;
}
html {
   height: 100%;
   box-sizing: border-box;
   font-size: 62.5%;
}

body {
   position: relative;
   min-height: 100%;
   margin: 0;
   background-color: #fff;
   color: $black;

   font-size: 1.4rem;
   line-height: 1.8rem;
   font-family: $Arial;
   font-weight: 400;

   @media (min-width: $desktop-width) {
      &:after {
         content: "";
         position: absolute;
         top: 0;
         left: 50%;
         width: 50%;
         min-height: 696px;
         background: url("../images/header/index-background-desktop.jpg") no-repeat;
         background-size: cover;
         z-index: -1;
      }
   }
}
@import "blocks/container.scss";
@import "blocks/header.scss";
@import "blocks/headding.scss";
@import "blocks/nav.scss";
@import "blocks/btn.scss";
@import "blocks/promo.scss";
