.headding {
   font-family: $Oswald;
   font-size: 36px;
   line-height: 1;
   font-weight: 400;
   color: #000;
   @media (min-width: $tablet-width) {
      font-size: 60px;
      color: #000;
   }
}
