.header {
   position: relative;
   &__wrapper {
      display: flex;
      flex-direction: column;
      @media (min-width: $tablet-width) {
         flex-direction: row;
         align-items: center;
      }
   }

   &__logo-block {
      padding: 12px 0px 16px 0px; // top right bottom left
      display: flex;
      align-items: center;
      @media (min-width: $tablet-width) {
         display: block;
         padding: 24px 0;
      }
      @media (min-width: $desktop-width) {
         flex: 0 0 50%;
         padding: 53px 0;
      }
   }

   &__logo {
      display: block;
      width: 34px;
      height: 38px;
      @media (min-width: $tablet-width) {
         display: block;
         width: 174px;
         height: 52px;
      }
      @media (min-width: $desktop-width) {
         display: block;
         width: 202px;
         height: 59px;
      }
   }

   &__text-logo {
      display: none;
      @media (max-width: $mobile-width-only) {
         display: block;
         margin-left: 55px;
         width: 101px;
         height: 18px;
      }
   }
}
