.promo {
   @media (max-width: $mobile-width-only) {
      background: url(../images/promo/promo-bc-mobile1.jpg) no-repeat;
      background-size: 100% 305px;
   }
   &__wrapper {
      padding: 27px 0px 22px 0px; // top right bottom left
      @media (min-width: $tablet-width) {
         padding-left: 87px;
         display: grid;
      }
      @media (min-width: $desktop-width) {
         grid-template-columns: 1fr 1fr;
         margin-top: 32px;
         padding-bottom: 50px;
      }
   }

   &__headding {
      @media (max-width: $mobile-width-only) {
         color: #fff;
         text-align: center;
         padding: 0px 15px 25px 15px; // top right bottom left
      }
      padding-bottom: 41px;
   }

   &__subtitle {
      font-family: $Oswald;
      font-weight: 400;
      font-size: 14px;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;
      color: #ffffff;
      padding-bottom: 30px;
      @media (min-width: $tablet-width) {
         color: #000;
         text-align: left;
         font-size: 20px;
         padding: 0;
      }
      @media (min-width: $desktop-width) {
         grid-row: 2/3;
      }
   }
   .promo__img {
      display: block;
      width: 280px;
      height: 270px;
      margin: 0 auto;
      @media (min-width: $tablet-width) {
         width: 709px;
         height: 609px;
         margin-top: -80px;
         margin-left: -80px;
      }
      @media (min-width: $desktop-width) {
         width: 562px;
         height: 499px;
         grid-column: 2/3;
         grid-row: 1/5;
         margin-left: -200px;
      }
   }

   &__btn {
      display: block;
      @media (min-width: $tablet-width) {
         width: 244px;
         margin-top: 40px;
         grid-column: 1/-1;
         grid-row: 3/4;
      }
   }
}
