.works {
   &__headding {
      margin-top: 27px;
      @media (min-width: $desktop-width) {
         margin-top: 71px;
      }
   }

   &__list {
      margin: 0;
      padding: 0;
      list-style: none;
      padding: 27px 0;
      @media (min-width: $tablet-width) {
         counter-reset: number 0;
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
         margin-top: 77px;
         padding: 0;
      }
      @media (min-width: $desktop-width) {
         padding-bottom: 40px;
      }
   }

   &__item {
      display: flex;
      flex-direction: row;
      align-items: center;
      @media (min-width: $tablet-width) {
         position: relative;
         flex-direction: column;
         align-items: flex-start;
         counter-increment: number;
         width: 32.5%;
         margin-right: 20%;
         margin-bottom: 10%;

         &:nth-child(2n) {
            margin-right: 80px;
            @media (min-width: $desktop-width) {
               margin-right: 94px;
            }
         }

         &::after {
            content: counter(number);
            font-family: $Oswald;
            font-weight: 400;
            font-size: 280px;
            line-height: 1;
            color: $basic-grey;
            position: absolute;
            top: -40px;
            right: 0;
            z-index: -1;
         }
      }
      @media (min-width: $desktop-width) {
         margin: 0;
         width: 230px;
         margin-right: 94px;
         margin-bottom: 70px;
         &:nth-child(4n) {
            margin-right: 0;
         }
      }
   }

   &__icon {
      flex: 0 0 60px;
      width: 60px;
      height: 60px;
      background-color: $basic-green;
      margin: 10px 0;
      margin-right: 20px;
      position: relative;
      &::after {
         content: "";
         position: absolute;
         top: 50%;
         left: 50%;

         transform: translate(-50%, -50%);
      }
      @media (min-width: $tablet-width) {
         margin: 0;
      }
   }
   &__description {
      font-family: $Arial;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.3;
      color: $special-dark-grey;
      @media (min-width: $tablet-width) {
         padding-top: 31px;
         padding-bottom: 30px;
         font-size: 16px;
         line-height: 1.5;
      }
   }
   &__icon--leaf {
      &::after {
         display: block;
         width: 30px;
         height: 32px;
         background: url("../images/works/icon_leaf.png") no-repeat;
      }
   }
   &__icon--tub {
      &::after {
         display: block;
         width: 29px;
         height: 31px;
         background: url("../images/works/icon_tub.png") no-repeat;
      }
   }

   &__icon--eat {
      &::after {
         display: block;
         width: 25px;
         height: 30px;
         background: url("../images/works/icon_eat.png") no-repeat;
      }
   }

   &__icon--alarm {
      &::after {
         display: block;
         width: 32px;
         height: 33px;
         background: url("../images/works/icon_alarm.png") no-repeat;
      }
   }
}
.container {
}
.headding {
}
